html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'PT Sans', 'Arial', sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

/*Шапка сайта*/

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 22px;
  padding-left: 73px;
  background-color: #ffffff;
  display: flex;
  position: relative;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 143px;
}

.nav-item:nth-child(2) {
  margin-right: 390px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-btn {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  
}

.main-btn {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.welcome {
  margin-bottom: 65px;
}

.welcome-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 90px;
  background-image: url('../img/intro-mask.svg'), url('../img/background-photo.jpg');
  background-size: 1200px 59px, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}
